<!doctype html>
<html>
	{{ template "partials/head" }}
	<body>
		{{ if .Errors }}
			{{ template "partials/errors" .Errors }}
		{{ end }}
		<div class="container" id="main">
			{{ template "content" . }}
		</div>
		<script type="text/javascript" src="/js/app.js"></script>
	</body>
</html>
