<!doctype html>
<html>
	{{ template "partials/head" }}
	<body>
		<div class="container">
			{{ template "content" . }}
		</div>		
		<script type="text/javascript" src="/js/app.js"></script>
	</body>
</html>