<li {{ if .Completed }}class="completed"{{ end }}>
	<div class="view" data-id="{{ .Id }}">
		<input class="toggle" type="checkbox" {{ if .Completed }}checked{{ end }}>
		<label>{{ .Title }}</label>
		<button class="destroy"></button>
	</div>
	<input class="edit" value="{{ .Title }}">
</li>